node_modules
dist
.firebase
.DS_Store
.env.local
.env.*.local
tsconfig.tsbuildinfo
.env
firebase-debug.log
firestore-debug.log
ui-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.secrets
*.secret.json
firebase-service-account.json
